@font-face {
  font-family: "Exo2-Medium";
  src: url("../fonts/Exo2-Medium.ttf");
}
@font-face {
  font-family: "Exo2-MediumItalic";
  src: url("../fonts/Exo2-MediumItalic.ttf");
}
@font-face {
  font-family: "Exo2-Bold";
  src: url("../fonts/Exo2-Bold.ttf");
}
@font-face {
  font-family: "Exo2-BoldItalic";
  src: url("../fonts/Exo2-BoldItalic.ttf");
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fc0;
}
.topMenu {
  display: flex;
  gap: 50px;
}
.topMenuLink {
  text-decoration: none;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.topMenuLink:hover {
  color: white;
}
